[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"
pypdf2 = "*"
pdfplumber = "*"
pdf2image = "*"
boto3 = "*"
pyinstaller = "*"
mysql-connector-python = "*"

[dev-packages]
pytest = "*"
wheel = "*"
setuptools = "*"

[requires]
python_version = "3.12"
